
# OS files
.DS_Store
Thumbs.db

# Editor/IDE
.vscode/
.idea/
*.swp

# Logs
*.log
logs/

# Environment fil
.env
.env.*

# Dependency directories
node_modules/

# Build and cache
dist/
build/
.cache/

# Python
__pycache__/
*.py[cod]
.venv/
venv/

# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log

